# Ignore the virtual environment
*/venv/
*/env/
athena_env/

# Ignore Rasa model files (these can be quite large)
models/

# Ignore logs and temporary files
logs/
*.log
*.bak

# Ignore Rasa configuration files for sensitive data
config.yml
domain.yml

# Ignore Rasa data files if you want to exclude them from versioning
data/

# Ignore backup files
*~
*.swp

# Ignore Rasa X session data
.rasa/